html{
    scroll-behavior: smooth;
  }

body{
    font-family: 'Montserrat';
}

/* .skip a{
    background: #FFFFFF;
    left: 0;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -100px;
    overflow: hidden;
} */
  
/* https://accessibility.psu.edu/skipnav/skiplinks/ */
  
/* .skip a:focus, .skip a:active{
    position: relative;
    overflow: visible;
    top:0;
    left:0;
    border: 2px solid #000000;
}  */

header{
    padding-right: 15px;
    background: #fff;
}

header img{
    padding-left: 20px;
    width: 60px;
    float: left;
}

.nav-bar{
    text-align: right;
    word-spacing: 15px;
    padding-top: 35px;
    padding-right: 20px;
}

.nav-bar a{
    text-decoration: none;
    color: #000000;
}

.nav-bar a:hover, a:focus{
    color: #24847B;
    text-decoration: underline;
}

#page1 .intro{
    padding-top: 35px;
    text-align: center;
    font-size: 20px;
    color: #24847B;
}
#page1 .h2{
    font-size: 13px;
    text-align: center;
}
#page1 #thin-text{
    color: #000000;
    font-weight: lighter;
}

#page1 .gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 20px;
    padding-right: 60px;
    padding-bottom: 20px;

}

.info1, .info2, .info3, .info4, .info5, .info6{
    flex-direction: column;
    width: 300px;
    text-align: center;
}

.info1 > img{
    width: 300px;
    height: 300px;
    padding-bottom: 20px;

}
.info2 > img{
    width: 300px;
    height: 300px;
    padding-bottom: 20px;

}
.info3 > img{
    width: 300px;
    height: 300px;
    padding-bottom: 20px;

}
.info4 > img{
    width: 300px;
    height: 300px;
    padding-bottom: 20px;
}
.info5 > img{
    width: 300px;
    height: 300px;
    padding-bottom: 20px;

}
.info6 > img{
    width: 300px;
    height: 300px;
    padding-bottom: 20px;

}

.info5{
    margin-top: 40px;
}

.info6{
    margin-top: -15px;
}

#page2 .heading{
    margin-left: 20px;
}
#page2 .contact{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding: 10px;
}

#page2 .column {
    float: left;
    width: 50%;
    margin-bottom: 100px;
    margin-top: -20px;
    padding: 20px;
    justify-items: center;
}

/* Used https://www.w3schools.com/css/css_form.asp for form CSS*/
input[type=text], select, textarea {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #24847B;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

.contact {
    padding-bottom: 50px;
}

.column{
    padding-left: 300px;
}

.heading{
    text-align: center;
}

#page3 .about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#page3 #thin{
    font-weight: lighter;
    font-size: 30px;
}

#page3 .welcome{
    padding-top: 50px;
    padding-left: 70px;
}

.imagebox{
    grid-column: 2/span 1;
    padding-left: 200px;
    padding-bottom: 100px;
}

.content{
    height: 50px;
    padding-left: 70px;
    padding-top: 40px;
    grid-column: 1/span 1;
    line-height: 2;
}

#page3 .gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap:15px;
    align-items: center; 
}

#page3 .gallery > img{
    margin: 0 auto;
    width: 400px;
    height: 250px;
}

#page2 .heading{
    margin-top: 65px;
    text-align: center;
}

#page2 .top{
    font-weight: 600px;
    font-size: 30px;
}

#page2 .sub{
    font-weight: 400;
    font-size: 20px;
}

#page2 .more-work{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 75px;
    margin-top: 75px;
    margin-bottom: 75px;
    grid-row-gap: 20px;
    justify-content: center;
    align-items: center;
}

#page2 .more-work > img{
    width: 300px;
}

/* Used https://code-boxx.com/simple-pure-css-timeline/ to create the basic timeline */
#page4 #content{
    margin-top: 50px;
    text-align: center;
}
#page4 section.timeline-outer {
    width: 80%;
    margin: 0 auto;
}

#page4 .resume-info{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.timeline {
    border-left: 10px solid #24847B;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #333;
    margin: 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    padding: 20px;
    list-style: none;
    text-align: left;
  }
  
#page4 .timeline h1, .timeline h2, .timeline h3 {
    font-size: 20px;
}

#page4 .timeline .event {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
}
#page4 .event:last-child{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}

#page4 .date{
    font-style: italic;
    font-size: 15px;
}

/* Used https://www.w3schools.com/howto/howto_css_circles.asp to create circles on timeline */
#page4 .event::after{
    content: '';
    background: #fff;
    border: 4px solid #979797;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    left: -38px;
}

footer {
    position: absolute;
    margin-top: auto;
    left: 0;
    width: 100%;
    background-color: #24847B;
    color: white;
    text-align: center;
}

@media screen and (min-width: 850px){

}